# Servidor
PORT=4000
NODE_ENV=development

# CORS - URL del frontend
CORS_ORIGIN=http://localhost:3000

# MongoDB
MONGODB_URI=mongodb+srv://usuario:password@cluster.mongodb.net/portfolio-ai

# JWT
JWT_SECRET=
JWT_COOKIE_NAME=

# Gemini
GEMINI_API_KEY=
GEMINI_MODEL=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Admin inicial (usado solo por el script de seed)
ADMIN_USERNAME=
ADMIN_PASSWORD=
ADMIN_EMAIL=
